{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="page-header">
  <h1>{{group.name}} 
  	{% if user in group.members.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Remove from favorites</a>
	{% else %}
		<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Add to favorites</a>
	{% endif %}

  </h1>
  <p><em>favourite of {{group.members.count}} members</em></p>
</div>

{% endblock %}


{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %}
	<h2 class="space jumbotron">No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}

	{% endif %}
</div>
</div>
{% endblock %}
