{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="col-md-3 jumbotron">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
		<center>
			Hi!<p>Welcome back
			<a href="{% url 'posts:for_user' username=user.username %}">@{{user.username }}</a>
			</p>
	
		</h2>
    	{% endif %}
			<p>Check updates!</p>
			</center>
	</div>
</div>
{% endblock %}

{% block group_content %}

{% if user.is_authenticated %}
<div class="col-md-8 nav-d">
	<div class="list-group">
		{% for group in object_list %}
        {% if user in group.members.all %}
		  <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
			     <h3 class="title list-group-item-heading">{{ group.name }}</h3>
			<div class="list-group-item-text container-fluid">
				{{ group.description|safe }}
				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ group.members.count }}</span> member{{ group.members.count|pluralize }}
					</div>
					<div class="col-md-4">
						<span class="badge">{{ group.posts.count }}</span> post{{ group.posts.count|pluralize }}
					</div>
					{% if user in group.members.all %}
					<div class="col-md-4">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</div>
					{% endif %}
				</div>
			</div>
		</a>
        {% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
